
<div class="flex flex-col justify-center items-center text-center"> 

  <main>     

    <section [@myAnimacion]="myState">      
      <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-6xl">
        <div class="md:flex">
          <div class="md:shrink-0">
            @defer () {
              <img class="h-60 w-full object-cover md:h-full md:w-96" [src]="projectDataService[currentProject].imagen" alt="Modern building architecture">
            }@loading(minimum 2s) {
              <img src="assets/loader.svg" alt="Loading...!" class="bg-slate-500 rounded-full"> 
            }
          </div>
          <div class="p-8">
            <div class="uppercase tracking-wide text-md text-indigo-500 font-semibold">
              <a [href]="projectDataService[currentProject].url">
                {{projectDataService[currentProject].name}}
              </a> 
            </div>
            <div>
              <p class="mt-4 text-lg text-slate-500 text-justify">{{projectDataService[currentProject].description}}</p>
            </div>
            <div class="flex flex-row justify-evenly mt-10">
              <button  class="inline-block border-none rounded bg-indigo-700 px-6 pb-2 pt-2.5 text-xs font-ExpetusSans uppercase text-white hover:bg-fuchsia-700 transition duration-150" (click)="onclickPrev()" >anterior</button>
              <button class="inline-block border-none rounded bg-indigo-700 px-6 pb-2 pt-2.5 text-xs font-ExpetusSans uppercase text-white hover:bg-fuchsia-700 transition duration-150" (click)="onclikNext()">siguiente</button>
            </div>
          </div>         
        </div>
      </div>                                        
    </section>                       
  </main>

  <footer class="mt-4 uppercase font-ExpetusSans">
      <h3 class="text-sm rounded-full text-gray-300">Tecnologias usadas</h3>
      <p class="text-sm bg-fuchsia-900 rounded-full text-gray-200 p-2">{{projectDataService[currentProject].tecnologies.join('-')}}</p>
  </footer>

</div>    
  
 <!-- <a [href]="projectDataService[currentProject].url" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{projectDataService[currentProject].name}}</a> -->