<nav>
  <!--menu pc-->
  <div class="flex flex-grow items-center justify-evenly p-4 m-4 gap-4">
    <!--logo-->
    <div class="md:block hidden font-ExpetusSans text-white uppercase">
      <span class="text-indigo-600 font-semibold text-4xl">d</span>
      <span class=" font-semibold text-2xl">m</span>
    </div>

    <div class="flex flex-row items-center gap-4">
      @for (menu of menuRoutes; track $index) {
        @if(menu.path !== undefined){
          <div class="md:block hidden font-ExpetusSans ">        
            <a [routerLink]="menu.path" routerLinkActive="bg-indigo-600" class="p-2 no-underline text-white rounded-sm text-sm uppercase">{{menu.path}}</a>
          </div>
        }
      } 
    </div>
  </div>

  <!--menu mobile-->
  <div class="flex flex-col justify-center items-center text-center">
    
    <div class="md:hidden font-ExpetusSans text-white uppercase">
      <span class="text-indigo-600 font-semibold text-4xl">d</span>
      <span class=" font-semibold text-2xl">m</span>
    </div>

    <div (click)="menuItem()" class="inline-flex flex-col items-center p-2 w-10 h-10 justify-center text-xl
    text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none
    focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700
    dark:focus:ring-gray-600 cursor-pointer">
      <svg class="w-5 h-5" aria-hidden="true" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </div>

    <div class="p-4 ">
      @if (isMenuOpen) {
        <div class="md:hidden">
          @for (menu of menuRoutes; track $index) {
            @if(menu.path !== undefined){
              <div class="p-2 m-2 font-ExpetusSans">        
                <a [routerLink]="menu.path" routerLinkActive="bg-indigo-600" class="p-2 m-2 gap-4 text-white rounded-sm text-sm uppercase ">{{menu.path}}</a>
              </div>
            }
          } 
        </div>     
      }
    </div>
  </div>    
</nav>