<div class="overflow-hidden sm:rounded-lg text-indigo-50"> 

  <div>

    <div class="sm:mb-8 sm:flex sm:justify-center"> 
      <div class="flex flex-col items-center pb-10">
        @defer () {
          <img class=" rounded-full w-24 h-auto sm:w-48 sm:h-auto md:w-96 md:h-auto" src="../../../assets/david.png" alt="David "/>
        }@loading(minimum 2s){      
          <span>          
            <img src="assets/svg-loaders/rings.svg" alt="oval" class=" bg-slate-800 rounded-full">            
          </span>
        }
        <h5 class="mb-1 text-xs font-medium text-gray-900 dark:text-white font-ExpetusSans">David</h5>
        <span class="text-lg text-blue-600 dark:text-blue-400 font-bold">Desarrollador & Programador</span>        
        <span class="p-1">Acerca de mi en.</span><a href="https://github.com/marbello1973" target="_blank" class="text-blue-500 p-1">GitHub<span aria-hidden="true"> &rarr;</span></a>                     
      </div>     
    </div>

    <div class="text-center -mt-10">       
      <h1 class=" text-gray-100 text-4xl hover:text-indigo-600 ease-in duration-300">¡Encantado me llamo!</h1>
      <br>     
      <h1 class="text-5xl font-bold text-sky-500 hover:text-sky-400 ease-in duration-300 ">David Marbello</h1>     
      <br>      
      <h1 class="text-violet-500 text-2xl">forjador de ideas y constructor de realidades digitales.</h1> 
      <h1 class="text-violet-500 text-2xl">Bienvenido a mi espacio de innovación.</h1>     
      <br>      
      <hr class="text-indigo-600"/>    
      <p class="mt-6 text-lg leading-8 text-gray-400">De la lógica al estilo: impulsando tu presencia en línea con potencia en Back-end y elegancia en Front-end.</p>    
      <div class="mt-10 flex items-center justify-center gap-x-6">
          <a id="skills" routerLink="/skills" routerLinkActive="active" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{skills}}</a>
          <a href=" https://www.linkedin.com/in/david-marbello/" target="_blank" class="text-sm font-semibold leading-6 text-blue-600 ">Linkedin<span aria-hidden="true">→</span></a>       
      </div>
    </div>

  </div> 

</div>
