header {
    margin: 0 auto;

    & div{
        margin: 0 auto;
        background: blue;
        color: white;

        & h1{
           
            animation-duration: 1s;
            animation-name: opacidad; 
        }
    };
}

@keyframes opacidad {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.6;}
    80% {opacity: 0.8;}
    100% {opacity: 1;
    }
}