
<main class="grid min-h-full place-items-center text-blue-400 px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <h1 class="font-semibold text-indigo-600 text-5xl">+ 57 304 437 87 45</h1>
      <h2 class="mt-4 text-3xl font-bold tracking-tight text-gray-300 sm:text-5xl">email</h2>
      <p class="mt-6 text-4xl font-ExpetusSans leading-7 text-gray-300">{{email}}</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">A home &rarr;</a>
      </div>
      <p class="font-ExpetusSans text-indigo-600">en contruccion</p>
    </div>
</main>
  