<!--h-48 p-8 m-8 w-full object-cover md:h-full md:w-48-->
<div class="flex flex-col text-center items-center justify-center">     
        
    <div class="flex flex-col justify-center items-center md:flex-row md:items-center"> 
        
        <div class="w-3/4 h-auto flex flex-col justify-center items-center transition duration-0 md:flex-row md:duration-700 ">
            <img src="assets/david.png" alt="Foto de perfil" class="rounded-full w-3/5 md:w-3/4 " >
            <div class="absolute mt-48 text-blue-200 p-1 border rounded-bl-xl rounded-tr-xl transition duration-0 md:duration-700 md:mt-72 md:text-4xl md:text-blue-600 ">
                <span class="font-ExpetusSans uppercase">david</span>                                
                <span class="font-ExpetusSans uppercase">marbello</span>         
            </div> 
        </div>            
        
    </div>
    
    <p class="text-lg text-center mt-14 text-indigo-700 font-ExpetusSans md:mt-1">Full Stack Developer</p> 

    <div class=" w-7/12 h-auto flex justify-center text-justify border rounded-lg mt-2 text-gray-400 transition duration-0 hover:duration-700 hover:bg-slate-500 hover:text-slate-950 ">
        <p class="p-4 text-lg">
            Soy un Full Stack Developer apasionado por la creación, desarrollo e implementación de aplicaciones web. Mi enfoque se centra en proporcionar soluciones digitales que maximicen la experiencia de usuario. Me caracterizo por la innovación, la resolución creativa de problemas y la adaptabilidad a nuevos entornos de trabajo. 
        </p>        
    </div>     

</div> 

 <!-- class="rounded-lg h-50 w-50 md:w-80 md:h-80"-->